apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nodejs
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:oliver-paul/Demo-Nodejs.git
    targetRevision: master
    path: deploy
  destination:
    server: https://kubernetes.default.svc
    namespace: node-project
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
  revisionHistoryLimit: 10
